MenuButton
{
	border-radius: 5px;
	background-color: rgba(20,20,20,0.5);
	color: #BBB;
	font-family: Calibri;
	font-size: 20px;
	width: 200px;
	border: 1px solid rgba(0, 0, 0, 0.4);
}

MenuButton:hover
{
	background-color: rgba(120,220,255,0.8);
	border: 1px solid rgba(80, 120, 170, 0.4);
	color: #111;
}

MenuButton:pressed
{
	background-color: rgba(210,240,255,0.8);
}

MenuButton:flat
{
	border: none;
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
							stop: 0 #f6f7fa, stop: 1 #dadbde);
}

MenuButton:default
{
	border-color: navy;
}